
//basic color//
$black:#000000;
$deepgray:#1A1A1A;
$gray:#E5E5E5;
$lightgray:#F1F1F1;
$white:#ffffff;

//primary color//
$primaryColor:#4B6C3C;
$primary1:#DEEBD9;
$primary2:#CDE0C5;
$primary3:#BDD6B2;
$primary4:#819977;
$primary5:#566650;


//point color//
$pointColor :#FF9090;
$point1:#FFD3D3;
$point2:#FFBCBC;
$point3:#FFA6A6;
$point4:#BF6C6C;
$point5:#804848;


